body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

input {
    text-align: center;
    margin-top: 0;

    font-size: .75rem;

    border-radius: 1vw;

    height: 1.94vh;
    width: 6.88vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 1.13rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1vh;
    padding-bottom:1vh;

    width: 15vw;
}

.title {
    padding:0px;
    margin: 0;

    position: absolute;
    left: 0px;
    top: -1rem;

    font-size: .75rem;


}

.tag {
    margin: 0;

    font-size: 1.13rem;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #7FB7BE;

    height: 100vh;
    width: 100vw;
}

#title-bar {
    position: absolute;
    top: 0px;

    width: 100vw;

    display: flex;
    justify-content: center;

    border-radius: 1vw;

    background-color: rgb(245,245,245);
}

#inputs-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#screen-dimensions-wrapper, #components-dimensions-wrapper, #responsive-values-wrapper {
    display: flex;
    justify-content: space-around;

    border: 1px dotted black;
    border-radius: 1vw;

    margin-bottom: 5vh;

    position: relative;
}